@page
@model ZealandZooCase.Pages.CrudForEvents.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AllOurEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AllOurEvent.EventName" class="control-label"></label>
                <input asp-for="AllOurEvent.EventName" class="form-control" />
                <span asp-validation-for="AllOurEvent.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllOurEvent.EventDescription" class="control-label"></label>
                <input asp-for="AllOurEvent.EventDescription" class="form-control" />
                <span asp-validation-for="AllOurEvent.EventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllOurEvent.AddressId" class="control-label"></label>
                <select asp-for="AllOurEvent.AddressId" class ="form-control" asp-items="ViewBag.AddressId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AllOurEvent.EventDate" class="control-label"></label>
                <input asp-for="AllOurEvent.EventDate" class="form-control" />
                <span asp-validation-for="AllOurEvent.EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllOurEvent.EventMaxAttendance" class="control-label"></label>
                <input asp-for="AllOurEvent.EventMaxAttendance" class="form-control" />
                <span asp-validation-for="AllOurEvent.EventMaxAttendance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllOurEvent.EventTicketPrice" class="control-label"></label>
                <input asp-for="AllOurEvent.EventTicketPrice" class="form-control" />
                <span asp-validation-for="AllOurEvent.EventTicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllOurEvent.EventImageName" class="control-label"></label>
                <input asp-for="AllOurEvent.EventImageName" class="form-control" />
                <span asp-validation-for="AllOurEvent.EventImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
