@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="opening-hours-banner" style="background-color: rebeccapurple; color: white; padding: 10px; text-align: center; width: 100%; box-shadow: 0 2px 5px rgba(0,0,0,0.2);">
    <p style="margin: 0; font-size: 16px; font-weight: bold;">FRADAGSBAR</p>
    <p style="margin: 0; font-size: 16px; font-weight: bold;">@Model.OpenHour.OpenHoursDate.ToString("dd MMMM, yyyy") </p>
    <p style="margin: 0; font-size: 16px; font-weight: bold;">@Model.OpenHour.OpenHoursStart - @Model.OpenHour.OpenHoursEnd </p>
</div>

<div class="text-center">
    <h1 class="display-4">Velkommen til Zealand Zoo</h1>
    <p>Fejr livets store øjeblikke hos Zealand Zoo – hvor fester bliver til minder!</p>
</div>




<h2>Welcome</h2>
<p>Would you like to log in or continue as a guest?</p>

<div>
    <form method="get" asp-page="/AccountPages/LoginPage">
        <button type="submit">Login</button>
    </form>
    <form method="get" asp-page="/AccountPages/Register">
        <button type="submit">Register</button>
    </form>
</div>

<form method="post">
    <button type="submit" asp-page-handler="ContinueAsGuest">Continue as Guest</button>
</form>


