@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Zealand Zoo</h1>
    <p>Fejr livets store øjeblikke hos Zealand Zoo – hvor fester bliver til minder!</p>
</div>


